# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Logs
*.log
logs/

# Docker
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Benchmark output
results/
output/
docker/*
models/
tests/*
